body #banner {  
  border-bottom-width: medium;  
  border-bottom-style: none;  
  border-bottom-color: initial;
}

.page-header h1 {  
  font-size: 4em;
}

.bs-docs-section {  
  margin-top: 8em;
}

.bs-component {  
  position: relative;
}

.bs-component .modal {  
  position: relative;  
  top: auto;  
  right: auto;  
  left: auto;  
  bottom: auto;  
  z-index: 1;  
  display: block;
}

.bs-component .modal-dialog {  
  width: 90%;
}

.bs-component .popover {  
  position: relative;  
  display: inline-block;  
  width: 220px;  
  margin-top: 20px;  
  margin-right: 20px;  
  margin-bottom: 20px;  
  margin-left: 20px;
}

#source-button {  
  position: absolute;  
  top: 0px;  
  right: 0px;  
  z-index: 100;  
  font-weight: bold;  
  padding-top: 5px;  
  padding-right: 10px;  
  padding-bottom: 5px;  
  padding-left: 10px;
}

.progress {  
  margin-bottom: 10px;
}

footer {  
  margin-top: 5em;  
  margin-right: 0px;  
  margin-bottom: 5em;  
  margin-left: 0px;
}

footer li {  
  float: left;  
  margin-right: 1.5em;  
  margin-bottom: 1.5em;
}

footer p {  
  clear: left;  
  margin-bottom: 0px;
}

.splash {  
  padding-top: 4em;  
  padding-right: 0px;  
  padding-bottom: 0px;  
  padding-left: 0px;  
  background-color: #141d27;  
  color: white;  
  text-align: center;
}

.splash h1 {  
  font-size: 4em;
}

.splash #social {  
  margin-top: 2em;  
  margin-right: 0px;  
  margin-bottom: 2em;  
  margin-left: 0px;
}

.splash .alert {  
  margin-top: 2em;  
  margin-right: 0px;  
  margin-bottom: 2em;  
  margin-left: 0px;
}

.section-tout {  
  padding-top: 4em;  
  padding-right: 0px;  
  padding-bottom: 3em;  
  padding-left: 0px;  
  border-bottom-width: 1px;  
  border-bottom-style: solid;  
  border-bottom-color: rgba(0, 0, 0, 0.05);  
  background-color: #eaf1f1;
}

.section-tout .fa {  
  margin-right: 0.5em;
}

.section-tout p {  
  margin-bottom: 3em;
}

.section-preview {  
  padding-top: 4em;  
  padding-right: 0px;  
  padding-bottom: 4em;  
  padding-left: 0px;
}

.section-preview .preview {  
  margin-bottom: 4em;  
  background-color: #eaf1f1;
}

.section-preview .preview .image {  
  position: relative;
}

.section-preview .preview .image:before {  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;  
  position: absolute;  
  top: 0px;  
  left: 0px;  
  width: 100%;  
  height: 100%;  
  content: "";  
  pointer-events: none;
}

.section-preview .preview .options {  
  padding-top: 1em;  
  padding-right: 2em;  
  padding-bottom: 2em;  
  padding-left: 2em;  
  border-right-width: 1px;  
  border-right-style: solid;  
  border-right-color: rgba(0, 0, 0, 0.05);  
  border-top-width: medium;  
  border-right-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px;  
  border-top-style: none;  
  border-right-style: solid;  
  border-bottom-style: solid;  
  border-left-style: solid;  
  -moz-border-top-colors: none;  
  -moz-border-right-colors: none;  
  -moz-border-bottom-colors: none;  
  -moz-border-left-colors: none;  -o-border-image: none;
  -webkit-border-image: none;
  border-image: none;  
  text-align: center;
}

.section-preview .preview .options p {  
  margin-bottom: 2em;
}

.section-preview .dropdown-menu {  
  text-align: left;
}

.section-preview .lead {  
  margin-bottom: 2em;
}

@media (max-width: 767px) {
  .section-preview .image img { width: 100%; }
}

.sponsor {  
  text-align: center;
}

.sponsor a:hover {  
  text-decoration: none;
}

@media (max-width: 767px) {
  #banner { margin-bottom: 2em; text-align: center; }
}

.infobox .btn-sup {  
  color: rgba(0, 0, 0, 0.5);  
  font-weight: bold;  
  font-size: 15px;  
  line-height: 30px;
}

.infobox .btn-sup img {  -webkit-opacity: 0.5;
  opacity: 0.5;  
  height: 30px;
}

.infobox .btn-sup span {  
  padding-left: 10px;  
  position: relative;  
  top: 2px;
}

.icons-material .row {  
  margin-bottom: 20px;
}

.icons-material .col-xs-2 {  
  text-align: center;
}

.icons-material i {  
  font-size: 34pt;
}

.icon-preview {  
  display: inline-block;  
  padding-top: 10px;  
  padding-right: 10px;  
  padding-bottom: 10px;  
  padding-left: 10px;  
  margin-top: 10px;  
  margin-right: 10px;  
  margin-bottom: 10px;  
  margin-left: 10px;  
  background-color: #d5d5d5;  
  background-image: none;  
  background-repeat: repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;  
  cursor: pointer;
}

.icon-preview span {  
  display: none;  
  position: absolute;  
  background-color: black;  
  background-image: none;  
  background-repeat: repeat;  
  background-attachment: scroll;  
  background-position: 0% 0%;  
  color: #eeeeee;  
  padding-top: 5px;  
  padding-right: 8px;  
  padding-bottom: 5px;  
  padding-left: 8px;  
  font-size: 15px;  
  font-family: Roboto;  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;  
  z-index: 10;
}

.icon-preview:hover i {  
  color: #4285f4;
}

.icon-preview:hover span {  
  display: block;  
  cursor: text;
}

hr {  
border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); 
}

#body-style {  
  padding-top: 10px;  
  padding-right: 10px;  
  padding-bottom: 0px;  
  padding-left: 10px;
}

